/*
* @Author: zhenghao01
* @Date:   2020-06-03 16:12:36
* @Last Modified by:   zhenghao01
* @Last Modified time: 2021-11-10 17:04:02
*/
.wrap{
	display: flex;
	width: 100vw;
	height: 100vh;
	background:pink;
	font-size: 60px;
	justify-content: center;
	align-items: center;
}
.bg{
	background:url('../images/icon.png');
}

