<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta content="yes" name="mobile-web-app-capable" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="format-detection" content="telephone=yes" />
<meta name="robots" content="all">
<meta name="theme-color" content="#000000" />
<!-- common start -->
<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="https://static.web.sdo.com/chuanshi/libs/jquery-3.5.1.min.js"></script>
<script src="https://static.web.sdo.com/chuanshi/libs/mobile.js"></script>
<link rel="stylesheet" href="https://static.web.sdo.com/chuanshi/libs/mobile.css">
<!-- common end -->
