<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>移动端页面</title>
	<%- include('./component/meta.ejs') %>
	<script src="http://xxx.xxx.xxx.com/project/wxconfig.ashx"></script>
	<link rel="stylesheet" href="style/mobile.css">
</head>
<!-- 开发：<%=hostname%> -->
<body>
	<div class="container">
		移动端
	</div>
</body>
</html>
<script src="js/mobile.js"></script>		